html {box-sizing: border-box;}
*,::before, ::after {box-sizing: inherit;}

.button {background-color: red; width: 150px; height: 50px; margin: 50px; cursor: pointer;}
.ctverecek {background-color: green; aspect-ratio: 1/1; max-width: 150px; margin: 50px;}
.obdelnik {background-color: orange; width: 300px; height: 150px;margin: 50px;}
.kolecko {background-color: blue; aspect-ratio: 1/1; border-radius: 50%; width: 150px; margin: 50px;}

.ctverecek {
    transition-property: background-color;
    transition-duration: 2s;
    /* transition-delay: 3s; */
}

.ctverecek:hover {
    background-color: yellow;
    /* border-radius: 50%; */
}

.obdelnik {
    transition: width 2s;
    transition-timing-function:linear;
  }
  
.obdelnik:hover {
    width: 600px;
  }

.kolecko {
    transition: transition 1s;
    /* transition: all 1s; */
}

.kolecko:hover {
    border-radius: 0;
    transform: scale(1.3) rotate(180deg); /*zvětšení o 130%*/
}
