body{
    max-width: 700px;
    margin: auto;
  }
  

  header {
    height: 300px;
    width: 1000px;
    margin: auto;
    margin-left: -150px;
    background: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png") no-repeat center/cover;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Abril Fatface', cursive;
    font-size: 2.25rem;
    text-align: left; 
  }
  
  h1, h2 {
    margin: 50px 0px 0px 150px;
  }
  
  
  blockquote::before {
    content: open-quote;
    color: white;
    font-family: 'Abril Fatface';
    font-size: 60px;
  }
  
  blockquote::after{
    content: close-quote;
    color: gray;
  }
  
  blockquote{
    margin: 0px;
    font-family: 'Abril Fatface';
    background: grey;
    display: block;
  }
  
  blockquote p{
    color: white;
    font-size: 30px;
    font-family: 'Abril Fatface';
    margin: 0px 40px;
  }
  
  p, ul{
    font-family: 'Josefin Sans', sans-serif;
    color: grey;
    font-size: 12px;
    list-style-type: square;
    margin: 10px 0px 20px 0px;
  }
  
  h3{
    font-family: 'Merriweather', serif;
    font-size: 17px;
  }
  
  h4{
    font-family: 'Merriweather', serif;
  }
  
  footer{
   border-top-style: solid;
   margin: 30px 0px 0px 0px;
  }