body{
    background-image: url("https://i.imgur.com/9kh3G8L.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-card{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    display: block;
    text-align: center;
    border-color: gray;
    border: 1px solid;
    border-radius: 8px;
}

.profile-image{
    border-radius: 50%;
    border: 1px solid;
    border-color: darkgrey;
    width: 120px;
}

p, h1, h2,span {
    font-family: raleway;
    display: block;
}

p{
    margin-top: 10px;
    margin-bottom: 20px;
}

h2{
    font-size: 18px;
}
h1, h2{
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact-me{
    margin-bottom: 20px;
}

.location{
    width: 18px;
}

.cara{
    border-bottom:1.5px grey;
    border-bottom-style:solid;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    ;
}

.social-icon {
fill: green;
width: 24px;
margin-bottom:20px;
}

fieldset{
    /*backdrop-filter: grayscale(50%);*/
backdrop-filter: saturate(60%);
}
