body, html {
    background-color: #f5e173;
    margin: 0px;
}

#painting {
    background-color: white;
    width: 400px;
    height: 400px;
    margin-top: 200px;
    margin-left: 800px;
    box-shadow: 10px 10px 4px #8d8d8d;
}

#toprow {
    height: 290px;
}

#bigbox {
    width: 290px;
    height: 290px;
}

#downrightcolumn {
    width: 55px;
    height: 100px;
}

#bluebox {
    width:100px;
    height: 100px;
}

#whitebox {
    width: 45px;
    height: 45px;
}

#yellowbox {
    width: 45px;
    height: 45px;
}

.mediumbox {
    width: 100px;
    height: 140px;
}

#divider1 {
    height: 290px;
    width: 10px;
}

#divider2 {
    height: 10px;
    width: 100px;
}
#divider3 {
    height: 10px;
    width: 400px;
}

#divider4 {
    height: 100px;
    width: 10px;
}

#divider5 {
    height: 100px;
    width: 10px;
}

#divider6 {
    height: 10px;
    width: 45px;
}

#divider7 {
    height: 100px;
    width: 10px;
}

.red {
    background-color: red;   
}
.blue {
    background-color: blue; 
}
.yellow {
    background-color: yellow;   
}
.black {
    background-color: black;   
}

.right {
    float: right;
}

.left {
    float: left;
}