html {box-sizing: border-box;}
*,::before, ::after {box-sizing: inherit;}

body {
    font-family: 'Raleway', sans-serif;
    background: url(background.jpeg);
    background-color: greenyellow;  
    background-size: cover;
}

* {
    margin: 0px;
    padding: 0px;
}

.profile-card {
    width: 500px;
    margin: 200px auto;
    padding: 50px;
    position: relative;
}

.profile-card::after {
    content: "";
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 10px 20px 10px rgb(0 0 0 / 50%);
    background-color: white;  
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.profile-image__img {
    border-radius: 50%;
    position: absolute;
    left: 250px;
    margin-left: -64px;
    bottom: 100%;
    margin-bottom: -64px;
    border: 1px solid black;
}

.name-headline {
    margin-top: 20px;
    text-align: center;
}

h1 {
    margin: 0px 5px;
}

.span {
    display: block;
    margin: 10px 0px;
}

hr {
    width: 100%;
    margin: 60px 0px 30px 0px;
    opacity: 0.6;
}

.content {
    width: 80%;
    margin: 0px auto;
    opacity: 0.6;
}

.links {
    text-align: center;
    margin-top: 60px;
}

li {
    display: inline-block;
}

a {
    color: black;
}

.opacity {
    opacity: 0.6;
}